nav.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3b923;
  border-bottom: 0px solid #f1ecec;
  padding: 10px; /* Add some padding for spacing */

  img {
    height: 70px; /* Adjust the height as needed */
  }

  menu {
    display: flex;
    gap: 1ch;
  }
}
